{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <p><font size="70">{{ welcome_message }}</font></p>
    </div>
    <div class="col-sm-4">
    <p>{{ words }}</p>
    </div>
    <div class="col-sm-4">
      <h3></h3>
       <a class="twitter-timeline" width="300" height="400" href="https://twitter.com/search?q=%23hillary%20OR%20%23hillaryclinton%20OR%20%23hillary2016%20OR%20%23hillaryforpresident" data-widget-id="594591984393682944">Tweets about #hillary OR #hillaryclinton OR #hillary2016 OR #hillaryforpresident</a> 
       <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
		<script> $('#counter').countdown({image: "digits.png", format: "mm:ss", endTime: new Date('02/01/16 08:00:00')}); </script>
    </div>
   </div>
  </div>

{% endblock %}

